@font-face {
  font-family: 'Klavika';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Klavika-Bold.eot');
}

@font-face {
  font-family: 'Open Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Regular.eot');
}

body {
  padding: 15px;
  min-width: 420px;
  font-family: 'Open Sans';
  color: #4D4D4D;
}

a {
	color: #4D4D4D;
	text-decoration: none;
	outline: none;
}

ul, li {
	list-style-type: none;
}

ul {
	padding-left: 0;
}

.wrapper {
  position: relative;
}

.site-list {

}

.title {
	font-family: 'Klavika';
	font-weight: 400;
	font-size: 2.1em;
	text-align: center;
	margin-bottom: 20px;
}

.status-list li {
	font-size: 1.4em;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;

	padding: 10px 0 10px 35px;
}

.status-list li.safe-to-contact {
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/success_icon_48.png');
}
.status-list li.maybe-ok-to-contact {
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/maybe_48.png');
}
.status-list li.unsafe-to-contact {
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/error_icon_48.png');
}

.status-icon--success {
	width: 128px;
	height: 128px;
	margin: 10px auto;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/success_icon_128.png');
}

.status-icon--maybe {
	width: 128px;
	height: 128px;
	margin: 10px auto;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/maybe_128.png');
}

.status-icon--error {
	width: 128px;
	height: 128px;
	margin: 10px auto;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/error_icon_128.png');
}

.status__text {
	font-family: 'Klavika';
	font-weight: 500;
	font-size: 1.8em;
	text-align: center;
	margin-top: 20px;
}


.site-single {

}

.site-single--safe {

}

.site-single--unsafe {

}



.bubblingG {
text-align: center;
width:80px;
height:50px;
display: block;
margin: 20px auto;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 10px;
height: 10px;
margin: 25px auto;
background: #22A0C7;
-moz-border-radius: 50px;
-moz-animation: bubblingG 1.2s infinite alternate;
-webkit-border-radius: 50px;
-webkit-animation: bubblingG 1.2s infinite alternate;
-ms-border-radius: 50px;
-ms-animation: bubblingG 1.2s infinite alternate;
-o-border-radius: 50px;
-o-animation: bubblingG 1.2s infinite alternate;
border-radius: 50px;
animation: bubblingG 1.2s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.36s;
-webkit-animation-delay: 0.36s;
-ms-animation-delay: 0.36s;
-o-animation-delay: 0.36s;
animation-delay: 0.36s;
}

#bubblingG_3 {
-moz-animation-delay: 0.72s;
-webkit-animation-delay: 0.72s;
-ms-animation-delay: 0.72s;
-o-animation-delay: 0.72s;
animation-delay: 0.72s;
}

@-moz-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#22A0C7;
-moz-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-moz-transform: translateY(-21px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#22A0C7;
-webkit-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-webkit-transform: translateY(-21px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#22A0C7;
-ms-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-ms-transform: translateY(-21px);
}

}

@-o-keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#22A0C7;
-o-transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
-o-transform: translateY(-21px);
}

}

@keyframes bubblingG {
0% {
width: 10px;
height: 10px;
background-color:#22A0C7;
transform: translateY(0);
}

100% {
width: 24px;
height: 24px;
background-color:#FFFFFF;
transform: translateY(-21px);
}

}
- See more at: http://cssload.net/#sthash.NIfPSlYl.dpuf
