<div class="site-single--safe">

    <div class="title">
        <a href="{{salesForceLink}}" class="linkToSalesforce">{{businessName}}</a>
    </div>

    <div class="status">
        <div class="status-icon--{{statusIcon}}"></div>
        <div class="status__text">
            {{statusText}}
        </div>
    </div>

    {{statusList}}

</div>


<!-- <ul class="status-list">
    <li class="safe-to-contact">
        <a href="#">Exists in Salesforce</a>
    </li>
    <li class="safe-to-contact">
        <a href="#">More than 30 days since last contact</a>
    </li>
    <li class="safe-to-contact">
        <a href="#">Not a current NUVI customer</a>
    </li>
</ul> -->